{
    "blackHoleFile": "./blackhole/build/contracts/BlackHoleEosAccount.json",
    "blackHoleAddress": "0x7b787f7541df204e6a379cec81f8cb302234854b",
    "ethereumProvider": "HTTP://127.0.0.1:8545",
    "whiteHoleAddress": "whitehole",
    "whiteHoleKey": "5KQwrPbwdL6PhXujxW37FSSQZ1JiwsST4cqQzDeyXtP79zkvFD3"
}