{
    "blackHoleFile": "./blackhole/build/contracts/BlackHoleEosAccount.json",
    "blackHoleAddress": "0x5455a6f1f85d18dd1e1a56fbe05b780656118705",
    "ethereumProvider": "ws://127.0.0.1:8545",
    "whiteHoleAddress": "whitehole",
    "whiteHoleKey": "5KQwrPbwdL6PhXujxW37FSSQZ1JiwsST4cqQzDeyXtP79zkvFD3",
    "eosProvider": "http://127.0.0.1:8888"
}